html {
  float: left;
  background-color:  #e6fff5;
  text-align: left;
}
.uniform {

  font-style: italic;
  font-weight: bold;
  color: green;
}
#head {
    clear: both;
    font-size: 48px;
    text-align: center;
    font-style: normal;

}
