html {
  float: left;
  background-color:  lightcyan;
  text-align: left;
}
.uniform {
  font-style: italic;
  font-weight: bold;
  color: green;
}
#head {
    clear: both;
    font-size: 48px;
    font-style: normal;

}
