html {
  background-color: slategray;
  font-family: 'Comfortaa', cursive;
  color: white;
  padding: 10px;
}

hr {
  height: 20px;
  width: 100%;
  color: darkcyan;
  background-color: darkcyan;
}

img {
  width: 100%;
  z-index: 0;
  visibility: hidden;
}

#hiddenref {
  text-decoration: none;
  color: white;
  cursor: default;
}

.newInfobox {
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  position: fixed;
  background-color: pink;
  z-index: 10;
}

.fakeHR {
  height: 20px;
  width: 100%;
  color: white;
  background-color: darkcyan;
  border: 1px inset darkcyan;
  margin: 10px 0 10px 0;
  text-align: center;
  z-index: 600;
}
.head {
  height: 120px;
  background-color: darkcyan;
  padding: 20px;
  border: 1px inset darkcyan;
  text-align: center;
}

.card {
  height: 400px;
  width: 300px;
  padding: 2px;
  margin: 10px;
  color: black;
}

.flexcontainerino {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}

.my-card__media1 {
  background-image: url("../Include/shot1.png");
}

.my-card__media2 {
  background-image: url("../Include/shot2.png");
}

.my-card__media3 {
  background-image: url("../Include/shot3.png");
}

.my-card__media4 {
  background-image: url("../Include/shot4.png");
}

.my-card__media5 {
  background-image: url("../Include/shot5.png");
}

.my-card__media6 {
  background-image: url("../Include/shot6.png");
}

.floating__text {
  font-size: 35px;
  height: 40px;
  width: 452px;
  position: absolute;
  right: -20px;
  z-index: 10;
  margin: 0;
  margin-top: 20%;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  overflow-wrap: normal;
}

.mdc-button {
  margin-top: 10px;
}

.largeimage__parallax {
  background-image: url(../Include/paraimage.png);
  background-position: center top;
  background-size: 100% 170%;
  border: 1px inset darkcyan;
}

.maintext {
  background-color: rgba(169, 169, 169, 0.7);
  padding: 10px;
}

.projects {
  background-color: rgba(169, 169, 169, 0.7);
  padding: 10px;
}

.footer {
  background-color: rgba(169, 169, 169, 0.7);
  padding: 10px;
}

.footerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filler__right, .filler__left {
  width: 20px;
  position: fixed;
  z-index: 30;
  height: 100%;
  background-color: slategray;
  top: 0px;

}

.filler__right {
  right: -3px;
}

.filler__left {
  left: -3px;
}

.mail {}

.phone {}

.media {}
