
html {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fffb96;
  min-width: 700px;
}
body, html {
  padding: 0;
  margin: 0;
  min-width: 700px;
}

header {
background-color: tomato;
padding-top: 15px;
margin-bottom: 15px;
height: 120px;
width: auto;
}

.infobox {
  min-width: 400px;
  z-index: 3;
  font-size: 21px;
  position: absolute;
  background-color: #01cdfe;
  border: 4px double;
  border-radius: 15px;
  height: 600px;
  width: auto;
  left: calc(50% - 400px);
  margin-bottom: 15px;
  margin-right: 15px;

}
.infobox p {
  text-align: left;
  margin: 15px;
}
#lmaobox {
height: 200px;
width: 200px;
position: absolute;
opacity:0;
z-index: 3;
}
#lmaobox:focus + img {
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
}
.frame {
  bottom: 0;
  right: 0;
  position: absolute;
  border-style: double;
  border-radius: 0 0 15px 0;
  height: 240px;
}
img {
  height: 240px;
  position: static;
  border-radius: 0 0 13px 0;
}
.selector {
width: 200px;
height: 160px;
background-color: #ff71ce;
border-top-style: double;
border-bottom-style: double;
border-right-style: double;
padding: 5px;
margin-right: 15px;
margin-bottom: 15px;
  border-radius: 0 15px 0 0;
}

#details {
  float: left;
  width: 80%;
  left: 10%;
  height: 80%;
}

#redirect {
  height: 120px;
    border-radius: 0 0 15px 0;
}

#redirect__button, #selectme {
border: 4px double;
border-color: #b967ff;
}

footer {
border-top: 3px double;
border-color: tomato;
text-decoration-color: purple;
text-align: left;
height: 120px;
width: 100%;
position: fixed;
bottom:0;
color: black;
background-color: #05ffa1;
padding-top: 0px;
padding: 3px;
}
table {
  margin: -8px;
}

tr, td, th {
    padding: 3px;
    border-style: double;
    border-color: tomato;
}
a:link {
  color: magenta;
}
a:visited {
  color: gray;
}
a:hover {
  color: purple;
}

#page {
  color:	#b967ff;
  margin: 3px;
  font-size: 22px;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

@media (max-width:1254px) {

  .infobox {
  left: calc(200px + 3%);
  }
}

@media (max-width: 1050px) {
  .infobox {
  /*width: 600px;*/
  }
  img, .frame {
    height: 200px;
  }
@media (max-width: 890px) {
  img, .frame {
    visibility: hidden;
  }
}
}
@media (max-height: 900px) {
 img, .frame {
    visibility: hidden;
  }
  .infobox {
    height: 304px;
    overflow: hidden;
    font-size: 17px;
  }
  #redirect {
    height: 103px;
  }
  header {
    height: 120px;
    margin-bottom: 18px;
  }
  @media (max-height: 605px) {
    header {
      visibility: hidden;
      padding-top: 0px;
      height: 1px;
    }
  }
  @media (max-height: 485px) {
    footer {
      visibility: hidden;
    }
  }
}
