p:hover {
cursor: crosshair;
}
html {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: darkcyan;
  min-width: 700px;
}
body, html {
  padding: 0;
  margin: 0;
  min-width: 700px;
}

header {
background-color: tomato;
padding-top: 15px;
margin-bottom: 15px;
height: 120px;
width: auto;
border-color: tomato;
}

.infobox {
  min-width: 400px;
  z-index: 3;
  font-size: 21px;
  position: absolute;
  background-color: #01cdfe;
  border: 4px double;
  border-radius: 15px;
  height: auto;
  width: auto;
  left: calc(50% - 400px);
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-bottom: 90px;
  overflow: hidden;
}
.infobox p {
  text-align: left;
  margin: 15px;
}
#lmaobox {
height: 200px;
width: 200px;
position: absolute;
opacity:0;
z-index: 3;
}
#lmaobox:focus + img {
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
transform: rotate(45deg);
}
.frame {
  bottom: -3px;
  right: -3px;
  position: absolute;
  border-style: double;
  border-radius: 0 0 15px 0;
  height: 240px;
}
img {
  height: 240px;
  position: static;
  border-radius: 0 0 13px 0;
}
.selector {
width: 200px;
height: 160px;
background-color: #ff71ce;
border-top-style: double;
border-bottom-style: double;
border-right-style: double;
padding: 5px;
margin-right: 15px;
margin-bottom: 15px;
  border-radius: 0 15px 0 0;
}

#details {
  float: left;
  width: 80%;
  left: 10%;
  height: 80%;
}

#redirect {
  height: 120px;
    border-radius: 0 0 15px 0;
}

#redirect__button, #selectme {
border: 4px double;
border-color: #b967ff;
}

footer {
border-top: 3px double;
border-color: black;
text-decoration-color: purple;
text-align: left;
height: 122px;
width: 100%;
position: absolute;
bottom:1px;
color: #666666;
background-color: #05ffa1;
padding:0px;
padding-top: 3px;
padding-bottom:3px;
}
table {
  position: inherit;
  margin: -8px;
  width: 100%;
  left: 7px;;
}

tr, td, th {
    padding: 3px;
    border-style: double;
    border-color: black;
}
a:link {
  color: magenta;
}
a:visited {
  color: black;
}
a:hover {
  color: purple;
}

#page {
  color:	#b967ff;
  margin: 3px;
  font-size: 22px;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

@media (max-width:1254px) {

  .infobox {
  left: calc(200px + 3%);
  }
}

@media (max-width: 1050px) {
  .infobox {
  /*width: 600px;*/
  }
  img, .frame {
    height: 200px;
  }
@media (max-width: 890px) {
  img, .frame {
    visibility: hidden;
  }
}

@media (max-height: 855px) {
 img, .frame {
    visibility: hidden;
  }
  .infobox {
    height: 304px;
    overflow: hidden;
    font-size: 17px;
  }
  #redirect {
    height: 103px;
  }
  header {
    height: 120px;
    margin-bottom: 18px;
    border-color: black;
  }
  @media (max-height: 700px) {
    .infobox {
      padding-bottom: 0px;
    }
  }
  @media (max-height: 605px) {
    header {
      visibility: hidden;
      padding-top: 0px;
      height: 1px;
    }
  }
  @media (max-height: 485px) {
    footer {
      visibility: hidden;
    }
  }
}


/* PHONE WIDTH STARTS */
@media (max-width: 720px) {

.selector {
  position: absolute;
  bottom: 146px;

}

#selector {

  border-radius: 15px 0 0 15px;
  margin-right: 0;
  right: 0;
  border-right: 0;
  border-left-style: double;
  height: 160px;
}

#redirect {
  border-radius: 0 15px 15px 0;
  height: 160px;

}
.infobox{
 position: absolute;
 width: auto;
 left: 0;
 margin-top: 45px;
 height: calc(100% - 635px);
 margin-bottom: 15px;
 margin-top: 15px;
}

.frame img {
  position: fixed;
  visibility: visible;
  margin-left: 15px;
  margin-right: 15px;
  height: 160px;
  width: auto;
  bottom: 165px;
  left: calc(50% - 95px);
  right: calc(50% - 95px);
  border-radius: 15px;
  border-style: double;
}
}
