
html {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fffb96;
  min-width: 860px;
}
body, html {
  padding: 0;
  margin: 0;
  min-width: 700px;
}

header {
background-color: tomato;
padding-top: 15px;
margin-bottom: 15px;
height: 120px;
}

.infobox {
  z-index: 3;
  font-size: 21px;
  position: absolute;
  background-color: #01cdfe;
  border: 3px double;
  height: 600px;
  width: 800px;
  left: calc(50% - 400px);
  margin-bottom: 15px;
}
.infobox p {
  text-align: left;
  margin: 15px;
}
.frame {
  bottom: 0;
  right: 0;
  position: absolute;
  border-style: double;
  height: 240px;
}
img {
  height: 240px;
  position: relative;
}
.selector {
width: 200px;
height: 160px;
background-color: #ff71ce;
border-top-style: double;
border-bottom-style: double;
border-right-style: double;
padding: 5px;
margin-right: 15px;
margin-bottom: 15px;
}

#redirect {
  height: 120px;
}

footer {
border-top: 3px double;
text-align: left;
height: 120px;
width: 100%;
position: fixed;
bottom:0;
color: royalblue;
background-color: #05ffa1;
padding-top: 0px;
padding: 3px;
}
table {
  margin: 8px;
}

#page {
  color:	#b967ff;
  margin: 3px;
  font-size: 22px;
  text-shadow:
 -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

@media (max-width:1254px) {

  .infobox {
  left: calc(200px + 3%);
  }
}

@media (max-width: 1050px) {
  .infobox {
  width: 600px;
  }
  img, .frame {
    height: 200px;
  }

}
@media (max-height: 900px) {
 img, .frame {
    visibility: hidden;
  }
  .infobox {
    height: 304px;
    overflow: hidden;
    font-size: calc(100% - 1px);
  }
  #redirect {
    height: 103px;
  }
  header {
    height: 120px;
    margin-bottom: 18px;
  }
  @media (max-height: 645px) {
    footer {
      visibility: hidden;
    }
  }
  @media (max-height: 465px) {
    header {
      visibility: hidden;
      padding-top: 0px;
      height: 1px;
    }
  }
}
