p:hover {
cursor: crosshair;
}
html {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: darkcyan;
  background-image: url("../Include/background.png");
  min-width: 700px;
  border-color: black;
}
body, html {
  padding: 0;
  margin: 0;
  min-width: 700px;
}

header {
background-color: tomato;
background-color: rgba(255, 161, 5, 0.9);
padding-top: 15px;
margin-bottom: 15px;
height: 120px;
width: auto;
border-color: tomato;
border-bottom: 2px solid;
}

.infobox {
  z-index: 3;
  font-size: 21px;
  background-color: #01cdfe;
  border: 2px solid;
  border-radius: 15px;
  /* height: calc(100% - 260px); */
  width: auto;
  left: calc(50% - 400px);
  margin-left: 15px;
  margin-bottom: 137px;
  margin-right: 15px;
  overflow: hidden;
  height: 100%;
}
.infobox p {
  text-align: left;
  margin: 15px;
}
.frame {
  margin-top: 100px;
  position: relative;
}
img {
  height: 200px;
  width: auto;
  position: absolute;
  visibility: visible;
  border-radius: 0 0 10px 0;
  border-style: solid none none solid;
  bottom: 0px;
  right: 0px;
  clear: left;
}
.all_container {
  width: 100%;
  display: flex;
  height: 100%;
}

.navi__container {
  display: block;
  top: 147px;
}

.selector {
  width: 200px;
  height: 160px;
  background-color: #ff71ce;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-width: 2px;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 0 15px 0 0;
}

#details {
  width: 80%;
  left: 10%;
  height: 80%;
  /* float: left; */
}

#redirect {
  height: 120px;
  border-radius: 0 0 15px 0;
}

#redirect__button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#redirect__button, #selectme {
  color:  #ff71ce;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  border-color: black;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.footer__space {
  border-top: 2px solid;
  border-color: black;
  text-decoration-color: purple;
  text-align: left;
  height: 120px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  color: #666666;
  background-color: rgb(5, 255, 161);
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgba(5, 255, 161, 0.9);
  padding:0px;
  padding-top: 3px;
  padding-bottom:3px;
}
table {
  position: inherit;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: auto;
}

tr, td, th {
  padding: 3px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
a:link {
  color: magenta;
}
a:visited {
  color: black;
}
a:hover {
  color: purple;
  background-color: grey;
}

#page {
  color:	#b967ff;
  margin: 3px;
  font-size: 22px;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}
